<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <title>Banana Slug Post Office</title>
	<meta name="author" content="an banana slug">
	<link rel="stylesheet" type="text/css" href="/static/css/reset-min.css">
	<LINK REL=StyleSheet HREF="/static/css/screen.css" TYPE="text/css" MEDIA=screen>
</head>
<body>

	<!-- printers -->
	<div class="home-marketing-section">
		<div style="width:30%;position:absolute;right:50px;color:#c08;z-index:99;">
			<div style="font-size:3.5em;margin-top:33%;">
			<h1>Banana Slug Post Office</h1>
			</div>
			<div style="text-align:right;">
			Memory Sent
			</div>
			
			<a href="/letter/new">
			<div class="get-started-button">Get Started</div>
			</a>
		</div>
		<img src="/static/img/waiting_for_a_train-wallpaper-2048x1152.jpg" class="bg">
	</div>


</body>
</html>
